<h2>Tạo mới tài sản</h2>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Mã căn hộ</label>
            <input class="form-control" placeholder="CH00001 ..." type="text">
        </div>

        <div class="form-group">
            <label for="">Danh mục</label>
            <select class="form-control">
                <option value="">Máy lạnh</option>
                <option value="">Máy giặt</option>
                <option value="">Tủ lạnh</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Ngày mua</label>
            <input class="form-control" type="date">
        </div>

        <div class="form-group">
            <label>Ghi chú</label>
            <textarea class="form-control"></textarea>
        </div>

        <button class="btn btn-success">Tạo mới</button>

    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">Thời gian bảo hành</label>
            <input class="form-control" placeholder="12 ..." type="text">
        </div>

        <div class="form-group">
            <label for="">Các hóa đơn chứng từ</label>
            <input class="form-control" type="file">
        </div>

        <div class="form-group">
            <label for="">Nhân viên hỗ trợ</label>
            <select class="form-control">
                <option value="">Nhân viên A</option>
                <option value="">Nhân viên B</option>
                <option value="">Nhân viên C</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Ngày hỗ trợ</label>
            <input class="form-control" type="date">
        </div>


    </div>
</div>