<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-2 mt-3 mb-2 text-muted">
            <span>Tài sản</span>
        </h6>

        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    routerLink="/tai-san">
                    Danh sách
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    routerLink="/tai-san/them-moi">
                    Thêm mới
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-2 mt-3 mb-2 text-muted">
            <span>Danh mục tài sản</span>
        </h6>

        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    routerLink="/danh-muc-tai-san">
                    Danh sách
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    routerLink="/danh-muc-tai-san/them-moi">
                    Thêm mới
                </a>
            </li>
        </ul>

    </div>
</nav>