<h2>Danh sách tài sản</h2>

<div class="row">
    <form class="form-inline">
        <div class="form-group ml-3 mb-2">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Mã căn hộ">
        </div>
        <div class="form-group ml-3 mb-2">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Mã tòa">
        </div>
        <div class="form-group ml-3 mb-2">
            <input type="text" class="form-control" id="inputPassword2" placeholder="Mã phòng">
        </div>
    </form>
</div>


<div class="table-responsive">

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Mã căn hộ</th>
                <th>Danh mục</th>
                <th>Ngày mua</th>
                <th>Thời gian bảo hành</th>
                <th>Tình trạng</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let a of assets">
                <td>{{a.apartmentId}}</td>
                <td>{{a.category}}</td>
                <td>{{a.buyDate}}</td>
                <td>{{a.guaranteeTime}} tháng</td>
                <td>Đang sử dụng</td>
                <td>
                    <a class="mr-2 ml-1" routerLink="/tai-san/"><i class="fa fa-pencil"></i></a>
                    <a class="mr-2 ml-1" routerLink="/tai-san/"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>